<!DOCTYPE html>

<html>
<link rel="stylesheet" type="text/css" href="static/poll_site/style.css">
<head>

	<title> F-ing around</title>

	<style>

	</style>



</head>


<body>

	<h1>F-ing Around, {{ name }}.</h1>

	<div class="huge">In space...<br/> there is {{ fav_color }}.</div>
	<a href="{% url 'linked_page' %}">Links</a>
	<ul>As well as
	{% for item in toys %}
		<li>{{item}}</li>
	{% endfor %}
	</ul>


	<div><h3>Questions!</h3>
		<ul>
		{% for q in questions %}
			<li><a href="{% url 'question_details' q.id %}">{{ q.question_text }}</li>
			<ul>
			{% for choice in q.choice_set.all %}
				<li>{{ choice.choice_text }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	</div>
</body>

</html>