<!doctype html>
<html>

<head>

	<link href='https://fonts.googleapis.com/css?family=Dhurjati' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'my_profile/mystyle.css' %}">


	<title>Shawn Waldow</title>




</head>

<body>


	<h1>SHAWN WALDOW</h1>

	<blockquote>"Programming...the closest a common fellow can come to being a wizard in 2016."</blockquote>



	<div class="dropdown">
	  <button class="dropbtn">TECHNOLOGY</button>
	  <div class="dropdown-content">
		<ul>
			<li>	Python</li>
			<li>	C++</li>
			<li>	SQL</li>
			<li>	Visual Basic</li>
			<li>	Django</li>
			<li>	JavaScript</li>
			<li>	Arduino sensors</li>
			<li>	hardware integration</li>
		</ul>
	  </div>
	</div>


	<div class="dropdown">
	  <button class="dropbtn">ENTREPENUERSHIP</button>
	  <div class="dropdown-content">
			<ul>
				<li>	sales (i.e. customer service)</li>
				<li>	project management</li>
				<li>	payroll management</li>
				<li>	contract law</li>
				<li>	market research</li>
				<li>	tax preparation</li>
			</ul>
		</div>
	</div>


	<div class="dropdown">
	  <button class="dropbtn">SUSTAINABILITY</button>
	  <div class="dropdown-content">	
			<ul><li>organic gardening</li>
			<li>	animal husbandry</li>
			<li>	farm machinery</li>
			<li>	flora identification</li>
			<li>	small scale forestry</li>
			<li>	alternative building materials</li>

			</ul>
		</div>
	</div>




	<article>

	<p>Hi, Shawn here. I climbed a very real corporate ladder from age 16, building, woodworking, and fabricating. For five years, I ran a small company building homes. Things slowed in 2009, so I put my entrepreneur hat aside. Later I joined a great team that concentrated on fine craft closely, making displays for big clothing companies. Before long we were installing software, integrating hardware, and debugging sensors as "carpenters"? Yes. Even shoe shelves are networked now. The Internet of things is here. So, I want to serve and learn to lead as a software developer.</p>
	<p>In addition to my skill for prototyping interactive displays in wood, steel, glass, and silicone, I have programming experience and a strong academic background in math. I worked on contract as an underwriter for a large health insurer for one year. That job included scripting contract data in a huge, arcane database.</p>
	<p>Now I graduate from PDX Code Guild in May of 2016. It might sound saccharine and simple, but programming is fun! It's the closest a common fellow can come to being a wizard in 2016. It's easy to get fired up about the language Python. It has a good balance between automating your housekeeping and allowing you control of any details needed. Are you creating apps? I can contribute right now at many levels with skills in Python, JavaScript, HTML 5, Django, SQL, C++, and most importantly I have mastered the ability to learn and with plain, old-school work ethic adapting to solve problems for your customers.</p>
	
	</article>



	<div class="dropdown">
	  <button class="dropbtn">CONSTRUCTION AND FABRICATION</button>
	  <div class="dropdown-content">
			<ul>
				<li>exterior finish carpentry</li>
				<li>	weatherproofing</li>
				<li>	estimating</li>
				<li>	fall protection</li>
				<li>	retail environments</li>
				<li>	cabinetry</li>
				<li>	joinery</li>
				<li>	wiring</li>
				<li>	aluminum, steel, glass, acrylic</li>
			</ul>
		</div>
	</div>


	<div class="dropdown">
	  <button class="dropbtn">SPORT</button>
	  <div class="dropdown-content">
			<ul>
				<li>	wrestling</li>
				<li>	boxing</li>
				<li>	jujitsu</li>
				<li>	moutaineering</li>
				<li>	ultra-marathons</li>
				<li>	sking</li>
				<li>	SCUBA and freediving</li>
			</ul>
		</div>
	</div>


	<section class = "shawn">

		<img src="{% static 'my_profile/shawn.gif'%}" alt="The man this page is about."/>

		<img  src="{% static 'my_profile/shawn2.gif'%}" alt="Shawn posterized."/>

		<img  src="{% static 'my_profile/shawn3.gif'%}" alt="Shawn pixelated." />

		<img  src="{% static 'my_profile/shawn4.gif'%}" alt="Shawn more pixelated" />

		<img  src="{% static 'my_profile/shawn5.gif'%}" alt="Pixel max!" />

	</section>


	<footer>
		<a href="{% url 'reality' %}">Don't forget to go outside.</a>
	</footer>
</body>

</html>