<!doctype html>
<html>

<head>

	<link href='https://fonts.googleapis.com/css?family=Dhurjati' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'my_profile/mystyle.css' %}">


	<title>Shawn Waldow - Reality's Real Nice</title>




</head>

<body>


	<h3>Reality's Real Nice</h3>

	<blockquote>"The common fellow can be a wizard when-he-will."</blockquote>

	<img src="{% static 'my_profile/reality.jpg' %}" alt = "Stream East of Faith" title = "Stream East of Faith (A.K.A. North Sister)" height = "450"/>


	<footer>
		<a href="{% url 'profile' %}">Go back to bits and pieces</a>
	</footer>
</body>

</html>