@import url(https://fonts.googleapis.com/css?family=Nova+Square);

@font-face {
    font-family: 'Nova Square';
    src: url(https://fonts.googleapis.com/css?family=Nova+Square);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

body {
	background-color: white;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size:1rem;
	font-weight: 500;
	}

h1 {
	font-family:'Nova Square', cursive;	
	color: black;
	font-size: 3.2rem;
	margin: .3em 0em;
	}

h2 {
	font-family:'Nova Square', cursive;
	color: black;
	background-color: white;
	border-radius: 2px;
	padding: .3rem;
	}

h3 {
	font-family:'Nova Square', cursive;
	}

a {
	text-decoration: none;	
	}

footer {
	text-align:right;
	margin: 1rem 0px 0px 0px;
	font-size: .6rem;
}

input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
}

.page-wrapper {
	max-width: 54rem;
	min-width: 33rem;
	margin: 4em auto;
	}

.post {

	border: 1px solid;
	border-radius: 2px;
	margin: 7px 0px;
	padding: .5rem 2rem;
	background-color: white;

	}


.new-post
	{
	border: 1px solid;
	border-radius: 2px;
	margin: 7px 0px;
	padding: .5rem 2rem;
	background-color: white;

	}