<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javapic</title>

    {% load staticfiles %}
  
    <link rel="stylesheet" href="{% static 'javapic/css/style.css' %}" >

</head>
<body>

<main>
    <header>javapic <span class="tagline">develop something beautiful</span></header>
    <div id="jumbotron" class="jumbotron">
        <div>a picture is worth a 1000 words</div>
    </div>
    <div class="bottom_jumbo"><a href="{% url 'join' %}">join now</a></div>

</main>

</body>
<script src="{% static 'javapic/js/jumbotron.js' %}"></script>

</html>