<!doctype html>
<html>

<head>

	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'landingstyle.css' %}">


	<title>&lt;PDXCODEGUILD/&gt;.WINTER2016.ASSIGNMENTS.SHAWNWALDOW</title>




</head>

<body>

	<h3><span><a href ="http://pdxcodeguild.com">&lt;PDXCODEGUILD/&gt;</a></span>.WINTER2016.ASSIGNMENTS.SHAWNWALDOW</h3>

	<a href="{% url 'javapic' %}">&lt;javapic&gt;</a><a href="{% url 'forum' %}">&lt;forum&gt;</a><a href="{% url 'pricing' %}">&lt;pricing&gt;</a><a href="{% url 'zen_garden' %}">&lt;zen&gt;</a><a href="{% url 'profile' %}">&lt;profile&gt;</a>

</body>

</html>